{% extends "base.html" %}

{% block content %}
<style>
.google_logo {
  width: 20%;
  min-width: 150px;
  max-width: 600px;
}
</style>

<h1> Flask Dash Index Page</h1>

{% if current_user.is_authenticated %}

  <li> Link to static Bar Chart Sample - <a href="{{ url_for('bar_chart_sample') }}">hard-coded bar chart </a> using <a href="https://github.com/plotly/plotly.py">Plotly</a>
  <li> Link to dynamic NYC Taxi Chart - dynamic chart using NYC Taxi data from Databricks sample data-sets.

  <br>

  Connected to {{cluster-id}}

  {{df}}

  <br>
  <br>
  <h3> Test Authentication and Roles</h3>

       see the Session-Login Protected information at <a href="{{ url_for('protected') }}">Protected Page</a>
  <br> see the Role-Protected home-page (requires "user" role) at <a href="{{ url_for('homepage') }}">Home Page</a>
  <br> see the Admin Page (requires the "admin" role) at <a href="{{ url_for('admin') }}">Admin Page</a>

{% else %}

  <br><br>

  <a href={{url_for('google.login')}} ><img src="static/google_logo.png" class="google_logo"></a>

{% endif %}

{% endblock %}